
manuscript.aux
manuscript.log
manuscript.pdf
manuscript.synctex.gz
manuscript.fdb_latexmk
manuscript.fls
manuscript.out
manuscript.bbl
manuscript.blg
manuscript.synctex(busy)
2022-11-16_coverletter.aux
2022-11-16_coverletter.log
2022-11-16_coverletter.out
2022-11-16_coverletter.pdf
2022-11-16_coverletter.synctex.gz
